@import 'Global.scss';

.pokemon-name-card {
	border: 1px solid $primary-card-background;
    padding: 10px;
    background: $primary-card-background;
	width: 100%;
	cursor: pointer;
	font-weight: bold;
	transition: all 0.3s ease-out;
	text-transform: capitalize;
	@include card-shadow;
	@include rounded-corner-card;

	&.selected {
		background-color: $primary-card-active;
		color: $tertiary-color;
		border-color: $primary-card-active;
	}

	p {
		margin: 0;
	}
}